.container{
    background-image: url('/assets/top.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    font-family: 'Oswald', sans-serif;

    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 0px #800020; 
}
.description{
    font-family: 'Kelly Slab', serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
}
.descriptionContainer{
    align-items: center;
    justify-content: center;
    width: 50%;
}